.page.photo {
    display: flex;
    justify-content: center;
    .photo {

        @media screen and(max-width: 550px) {
            width: 90%;
            padding-top: 0;
        }

        width: 500px;
        padding-top: 50px;
        img {
            width: 100%;
        }

        p {
            max-width: 100%;
            color: #3c3a3a;
            text-align: justify;
        }
    }
}