.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;

    a.logo {
        font-size: 1.4em;
        animation: fadein 1s;
        font-family: 'Permanent Marker', cursive;
    }
    
    a {
        text-transform: uppercase;
        color: #23282d;
        text-decoration: none;
    }

    .galleries {
        ul {
            padding: 0;
            list-style: none;
            li {
                animation: fadein 1s;
                margin: 5px 0;

                a.active {
                    font-weight: bold;
                }
            }
        }
    }
}