.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;

    @media screen and(max-width: 1000px) {
        position: relative;
        top: 20px;
        left: 0;
        right: 0;
        text-align: center;

        a.logo {
            font-size: 2.5em!important;
        }

        .galleries {
            max-width: 350px;
            margin: 0px auto;

            ul {
                margin-top: 0;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                li {
                    margin: 5px 5px!important;
                    float: left;
                }
            }
        }
    }

    a.logo {
        font-size: 1.8em;
        animation: fadein 1s;
        font-family: 'Permanent Marker', cursive;
    }
    
    a {
        text-transform: uppercase;
        color: #23282d;
        text-decoration: none;
        font-size: 1.2em;
        font-family: "Sweet Buttermilk";
    }

    .galleries {
        ul {
            padding: 0;
            list-style: none;
            li {
                animation: fadein 1s;
                margin: 5px 0;

                a.active {
                    font-weight: bold;
                }
            }
        }
    }
}