@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;

    background: #f3f6fa;
    font-family: 'Lexend Deca', sans-serif;
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-top {
    animation-name: slide-top;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.photos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .photo-container {
        width: 500px;
        margin: 50px 0;
        opacity: 0;

        @media screen and (max-width: 1000px) {
            margin: 10px 0;
        }

        @media screen and(max-width: 550px) {
            width: 95%;
            img {
                margin: 10px 0;
                width: 100%!important;
                height: auto!important;
            }
        }

        a {
            font-size: 2em;
            text-decoration: none;
            color: #23282d;
        }

        &.visible {
            img {
                display: block
            }
        }

        img {
            margin-top: 5px;
            width: 500px;
            height: 500px;
            display: none;
            cursor: pointer;
        }
    }
}

.fadein {
    animation: fadein 1s;
}